@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://techcommunity.microsoft.com/t5/image/serverpage/image-id/469874iFE0D4F020442C5F9/image-size/large?v=v2&px=999');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}