@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://techcommunity.microsoft.com/t5/image/serverpage/image-id/469874iFE0D4F020442C5F9/image-size/large?v=v2&px=999');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Dark mode looking scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Moved inside the selector */
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
